/* Dropdown styling */
.reactDropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;

}

.reactDropdownSelected {
    cursor: pointer;
    padding: 7px 20px;
    border: 1px solid #E1E1E1;
    border-radius: 7px;
    display: inline-block;
    background-color: white;
    min-width: 200px;
}

.reactDropdownSelected:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px #E1E1E1;
}
.reactDropdown ul {
    display: none;
}

.reactDropdown ul.popped {
  position: absolute;
  top: calc(100% + 5px);
  display: block;
  background-color: white;
  width: calc(60% + 30px);
  border-radius: 7px;
  padding: 7px 0;
  border: 1px solid #E1E1E1;
  outline: none;
  font-size: 1.05em;
  background-color: white;
  overflow: hidden;
  z-index: 5;
}
.reactDropdown ul.popped li {
    padding: 5px;
    cursor: pointer;
    font-weight: normal;
    font-size: 0.85em;
    padding-left: 12px
}

.reactDropdown ul.popped li:hover {
    background-color:#f7f7f7;
}

/* ButtonGroup styling */

.buttonGroup ul, ul.buttonGroup {
    border-radius: 3px;
    background-color:#fafafa;
    padding: 0;
    display: -webkit-flex;
    border: 1px solid #eee;
    width: 400px;
}

.buttonGroup li {
    border-right: 1px solid #ddd;
    padding: 10px;
    -webkit-flex: 1;
    color:#555;
    cursor: pointer;
    max-width: 200px;
    text-align: center;
    transition: 0.2s all;
}
.buttonGroup li.active, .buttonGroup li:hover {
    background-color:#eee;
}
.buttonGroup li:last-child {
    border-right: 0;
}
.buttonGroup li i {
    margin-right: 4px;
}


/* Tab styling */
.reactChampionTabs li {
    display: inline-block;
    padding: 6px;
    padding-top: 7px;
    min-width: 150px;
    background-color: #F8F8F8;
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    margin-right: 3px;
    cursor: pointer;
    text-align: center;
    color:#555;
}

.reactChampionTabs li.active, .analytics_tabs li:hover {
    background-color:#EEE;
}
ul.reactChampionTabs {
    border-bottom: 1px solid #E3E3E3;
    text-align: center;
}

/* Modal styling */
.reactChampionModal {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.4);
    display: none;
    opacity: 0;
    transition: 0.5s all;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 1px);
}

.reactChampionModal h2 {
    text-align: center;
    color:#555;
    margin-top: 2px;
}
.reactChampionModal.fadein {
    display: block;
}

.reactChampionModal.open {
    display: block;
    opacity: 1.0;
}

.reactChampionModal.fadeout {
    display: block;
    opacity: 0;
}

.reactChampionModal.close {
    opacity: 0;
    display: none;
}


.reactChampionModal .reactChampionModalContent {
    width: 900px;
    max-width: 80%;
    margin: 100px auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-height: 70%;
    overflow-y: scroll;
    height: 60%;
}

.reactChampionModalClose {
    float: right;
    margin-top: -5px;
    cursor: pointer;
}

/* Generic styling */
.reactChampionAddNew {
    background-color:#fafafa;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 30px;
    color:#aaa;
}